
body {
	background-image: url("background.jpg");
    background-size: cover;
    color: azure;
}

button {
    font-size: 1em;
    font-weight: 300 !important;
    padding: 5px 12px;
    background-color: white;
    color: #343943;
    cursor: pointer;
    letter-spacing: 0.065em;
    border-radius: 2.5px;
    border: 1px solid #e1e1e1;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
    padding: 5px;
    }
    th {
    text-align: left;
    }
    button .fa {
    	font-size: 1.2em;
    }
    button:hover {
      color: #42a2ec;
      border: 1px solid #6772e5; }

/* Layouts */

	.center-align {
		height: 50vh;
		display: flex;
		align-items: center;
	}

	.dropdown-menu.show {
		display: block;
		li:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
	.dropdown-menu.hide {
		display: none;
	}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.containerdiv {
  border: 0;
  float: left;
  position: relative;
  width: 80px;
}
.cornerimage {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
 }
.footerbar {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
.floated_img
{
  float: left;

}
div.caption: {
  display: block;
}
 .flex-container {
  display: flex;
  flex-wrap: wrap;
}
.p-0 {
  padding: 0px; }

.p-h-0 {
  padding-left: 0px;
  padding-right: 0px; }

.p-v-0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.p-t-0 {
  padding-top: 0px; }

.p-r-0 {
  padding-right: 0px; }

.p-b-0 {
  padding-bottom: 0px; }

.p-l-0 {
  padding-left: 0px; }

.m-0 {
  margin: 0px; }

.m-h-0 {
  margin-left: 0px;
  margin-right: 0px; }

.m-v-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.m-t-0 {
  margin-top: 0px; }

.m-r-0 {
  margin-right: 0px; }

.m-b-0 {
  margin-bottom: 0px; }

.m-l-0 {
  margin-left: 0px; }

.p-5 {
  padding: 5px; }

.p-h-5 {
  padding-left: 5px;
  padding-right: 5px; }

.p-v-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.p-t-5 {
  padding-top: 5px; }

.p-r-5 {
  padding-right: 5px; }

.p-b-5 {
  padding-bottom: 5px; }

.p-l-5 {
  padding-left: 5px; }

.m-5 {
  margin: 5px; }

.m-h-5 {
  margin-left: 5px;
  margin-right: 5px; }

.m-v-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.m-t-5 {
  margin-top: 5px; }

.m-r-5 {
  margin-right: 5px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-l-5 {
  margin-left: 5px; }

.p-10 {
  padding: 10px; }

.p-h-10 {
  padding-left: 10px;
  padding-right: 10px; }

.p-v-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.p-t-10 {
  padding-top: 10px; }

.p-r-10 {
  padding-right: 10px; }

.p-b-10 {
  padding-bottom: 10px; }

.p-l-10 {
  padding-left: 10px; }

.m-10 {
  margin: 10px; }

.m-h-10 {
  margin-left: 10px;
  margin-right: 10px; }

.m-v-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.m-t-10 {
  margin-top: 10px; }

.m-r-10 {
  margin-right: 10px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-l-10 {
  margin-left: 10px; }

.p-15 {
  padding: 15px; }

.p-h-15 {
  padding-left: 15px;
  padding-right: 15px; }

.p-v-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.p-t-15 {
  padding-top: 15px; }

.p-r-15 {
  padding-right: 15px; }

.p-b-15 {
  padding-bottom: 15px; }

.p-l-15 {
  padding-left: 15px; }

.m-15 {
  margin: 15px; }

.m-h-15 {
  margin-left: 15px;
  margin-right: 15px; }

.m-v-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.m-t-15 {
  margin-top: 15px; }

.m-r-15 {
  margin-right: 15px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-l-15 {
  margin-left: 15px; }

.p-20 {
  padding: 20px; }

.p-h-20 {
  padding-left: 20px;
  padding-right: 20px; }

.p-v-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.p-t-20 {
  padding-top: 20px; }

.p-r-20 {
  padding-right: 20px; }

.p-b-20 {
  padding-bottom: 20px;
}

.p-l-20 {
  padding-left: 20px; }

.m-20 {
  margin: 20px; }

.m-h-20 {
  margin-left: 20px;
  margin-right: 20px; }

.m-v-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.m-t-20 {
  margin-top: 20px; }

.m-r-20 {
  margin-right: 20px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-l-20 {
  margin-left: 20px; }

.p-25 {
  padding: 25px; }

.p-h-25 {
  padding-left: 25px;
  padding-right: 25px; }

.p-v-25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.p-t-25 {
  padding-top: 25px; }

.p-r-25 {
  padding-right: 25px; }

.p-b-25 {
  padding-bottom: 25px; }

.p-l-25 {
  padding-left: 25px; }

.m-25 {
  margin: 25px; }

.m-h-25 {
  margin-left: 25px;
  margin-right: 25px; }

.m-v-25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.m-t-25 {
  margin-top: 25px; }

.m-r-25 {
  margin-right: 25px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-l-25 {
  margin-left: 25px; }

.p-30 {
  padding: 30px; }

.p-h-30 {
  padding-left: 30px;
  padding-right: 30px; }

.p-v-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.p-t-30 {
  padding-top: 30px; }

.p-r-30 {
  padding-right: 30px; }

.p-b-30 {
  padding-bottom: 30px; }

.p-l-30 {
  padding-left: 30px; }

.m-30 {
  margin: 30px; }

.m-h-30 {
  margin-left: 30px;
  margin-right: 30px; }

.m-v-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.m-t-30 {
  margin-top: 30px; }

.m-r-30 {
  margin-right: 30px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-l-30 {
  margin-left: 30px; }

