{% extends "base.html" %}
{% block title %}<title>Musiq | Home</title>{% endblock %}
{% block content %}
		<div class="center-align">
			<form action="/search" method="get" style="width: 80%;max-width: 480px;min-width: 240px;margin-left: auto;margin-right: auto;">
                {% load static %}
				<img class="p-b-20" style="text-align: center;" src="{% static 'musiq2.png' %}" alt="MUSIQ">
				<div class="input-group mb-3">
					<input type="text" class="form-control" name="search_query" placeholder="Search...">
					<div class="input-group-append">
						<button type="submit" class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></button>
					</div>	
				</div>
				<div style="text-align: center;">
                    <input type="radio" name="filter" value="track" checked="checked"> Track &nbsp;&nbsp;
					<input type="radio" name="filter" value="artist"> Artist &nbsp;&nbsp;
					<input type="radio" name="filter" value="album"> Album &nbsp;&nbsp;
					<input type="radio" name="filter" value="genre"> Genre &nbsp;&nbsp;
				</div>
			</form>
		</div>

{% endblock %}


