<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>MUSIQ</h1>
  <h2>Tracks</h2>
</div>


<div class="column">
{% for song in tracks}
  <div class="col-md-4">
    <div class="thumbnail">
	  {% if song.logo %}
        <img src="{{ song.logo.url }}" class="img-responsive">
      {% else %}
        <h3>No image to display</h3>
      {% endif %}
      <h3>Tracks1</h3>
      <h2>{{song.track_name}}</h2>
	  <p>{{song.length}}<p>
     </div>
      </a>
   </div>
{% endfor %}
</div>




</body>
</html>